@tailwind base;
@tailwind components;
@tailwind utilities;

.res-card{
    transition: transform .2s;
}

.res-card >img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(0.9); 
    zoom:100%;
}